# Dependencies from Salt.Box Team server.
# - Prefer tag or commit hash over branch to specify version.
# - Prefer long hash over short hash for pip efficiency.

saltbox-sdk @ git+https://dev.saltbox.pro/saltbox/saltbox-sdk/@4bf18cf3b4964cee64bd05d6656f027ad1607ae8
saltbox-bridge-messages @ git+https://dev.saltbox.pro/saltbox/saltbox-bridge-messages/@6f9127bb9ba49703b1a42ae21649f6bd8afa7764

# vi: ft=requirements
