fastapi~=0.115.4
faststream[redis]==0.5.34
gitpython~=3.1.43
httpx~=0.27.2
pydantic-settings~=2.9.1
pydantic~=2.11.5
pyjwt[crypto]~=2.10.1
pymongo~=4.11
python-gnupg==0.4.8
python-multipart~=0.0.17
redis~=5.2.0
ruamel.yaml~=0.18.5
taskiq-aio-pika~=0.4.1
taskiq-fastapi~=0.3.4
taskiq-redis~=1.0.3
taskiq~=0.11.14
uvicorn[standard]~=0.32.0
